<div>
  Feeduler couldn't discover posts in this blog. We support over 80% of blogs, but unfortunately not this one.
</div>
<div style="display: flex; gap: 1em;">
  <%= button_to "Try another", blog_path(blog), method: :delete, params: { redirect: :add } %>
  <%= button_to "Discard", blog_path(blog), method: :delete %>
</div>