<a href="/">← Go back</a>
<h1><%= @blog.name %></h1>
<div>
  <% if @blog.fetch_status == 'in_progress' %>
    ⏳ Loading posts: <%= @blog.posts.count %>
  <% else %>
    ❌ Loading posts failed
  <% end %>
</div>

<script>
    window.setTimeout(function () {
        window.location.reload();
    }, 3000);
</script>
