<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-1.5">
    This blog has <%= subscription.blog.blog_posts.length %> posts (oldest to newest):

    <%= render partial: "posts", locals: { subscription: subscription } %>
  </div>

  <div>
    <%= link_to "Continue", signup_path, class: "btn" %>
  </div>
</div>