<div class="flex flex-col gap-6">
  <p>
    FeedRewind couldn't discover posts in this blog. We support over 80% of blogs, but unfortunately not this
    one.
  </p>
  <div class="inline-flex flex-row gap-2">
    <%= button_to "Try another",
                  subscription_path(subscription),
                  method: :delete,
                  params: { redirect: :add },
                  class: "btn"
    %>
    <%= button_to "Discard",
                  subscription_path(subscription),
                  method: :delete,
                  class: "btn"
    %>
  </div>
</div>