<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-1">
    Discovered <%= subscription.blog.blog_posts.length %> posts (oldest to newest):

    <%= render partial: "posts", locals: { subscription: subscription } %>
  </div>

  <div id="confirm_section" class="flex flex-row items-baseline gap-4 mb-8">
    <%= button_to "Continue",
                  SubscriptionsHelper.confirm_path(subscription),
                  method: :post,
                  class: "btn"
    %>
    <%= button_to "Looks wrong?",
                  SubscriptionsHelper.mark_wrong_path(subscription),
                  method: :post,
                  remote: true,
                  class: "link-secondary text-sm"
    %>
  </div>
</div>