<div id="refresh_popup_background" class="hidden z-10 fixed inset-0 bg-gray-500 bg-opacity-75 z-50"></div>
<div id="refresh_popup"
     class="hidden z-10 fixed top-0 left-1/2 -translate-x-1/2 px-4 py-4 rounded-b-3xl border-x border-b border-gray-300 bg-white shadow-md flex flex-col gap-4 z-50"
>
  <div id="refresh_popup_message" class="break-word"></div>
  <div class="flex flex-row justify-end">
    <button id="popup_refresh_button" class="btn">Refresh</button>
  </div>
</div>

<script>
    document.getElementById("popup_refresh_button").addEventListener("click", () => window.location.reload());

    function showRefreshPopup(message) {
        for (let element of document.getElementsByClassName("modal-inert")) {
            element.inert = true;
        }

        document.getElementById("refresh_popup_message").innerText = message;
        let refreshPopup = document.getElementById("refresh_popup");
        refreshPopup.classList.remove("hidden");
        refreshPopup.classList.add("popup-appear");
        document.getElementById("refresh_popup_background").classList.remove("hidden");
    }
</script>